<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>性格测试后台管理系统</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <a id="logo" href="/home/toIndex">
            <div class="layui-logo" style="font-size: x-large;margin-left: 1%;width: 260px">性格测试后台管理系统</div>
        </a>
        <ul class="layui-nav layui-layout-right">
            <!--<li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="https://aaachenjian.oss-cn-beijing.aliyuncs.com/myFile/2021/06/19/1624092460466/PIC_20160217_235223_ED0.jpg" class="layui-nav-img">
                    陈建
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/home/toUserinfo">基本资料</a></dd>
                </dl>
            </li>-->
            <li class="layui-nav-item"><a href="/logout">注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">

                <!--左侧动态导航栏-->
                <div th:each="firstMenu:${firstMenus}">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">
                            <p th:text="${firstMenu.menuName}"/>
                        </a>
                        <div th:each="secondMenu:${secondMenus}">
                            <div th:if="${secondMenu.parentId} eq ${firstMenu.menuId}">
                                <dl class="layui-nav-child">
                                    <dd>
                                        <a th:href="${secondMenu.url}">
                                            <p th:text="${secondMenu.menuName}"/>
                                        </a>
                                    </dd>
                                </dl>
                            </div>
                        </div>

                    </li>
                </div>


                <!--左侧静态导航栏-->
                <!--<li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="#">
                        <i class="layui-icon layui-icon-user"></i>
                        <span>业务管理</span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="toquestionManager">
                                <span style="margin-left: 12px">问题管理</span>
                            </a>
                        </dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="toTester">
                                <span style="margin-left: 12px">测试结果</span>
                            </a>
                        </dd>
                    </dl>

                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="#">
                        <i class="layui-icon layui-icon-app"></i>
                        <span>系统管理</span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="/user/toUser">
                                <span style="margin-left: 12px">用户管理</span>
                            </a>
                        </dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="toRoleManager">
                                <span style="margin-left: 12px">角色管理</span>
                            </a>
                        </dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="/menu/toMenu">
                                <span style="margin-left: 12px">菜单管理</span>
                            </a>
                        </dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="/dept/toDept">
                                <span style="margin-left: 12px">部门管理</span>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="#">
                        <i class="layui-icon layui-icon-log"></i>
                        <span>日志监控</span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="/statistical/toLog">
                                <span style="margin-left: 12px">操作日志</span>
                            </a>
                        </dd>
                    </dl>
                </li>-->


            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <iframe id="iframeMain" src="" class="layadmin-iframe" frameborder="0"
                style="width: 100%;height: 100%"></iframe>
    </div>

    <!--<div class="layui-footer">
        &lt;!&ndash; 底部固定区域 &ndash;&gt;
        © 86521760@qq.com
    </div>-->
</div>
<script>
    //JavaScript代码区域
    layui.use(['element', 'jquery'], function () {
        let element = layui.element;
        let $ = layui.jquery;
        $(function () {
            //页面加载之后执行的代码
            //点击a标签的时候，修改iframe的src属性
            $("dd>a").click(function (event) {
                //阻断超链接的跳转事件
                event.preventDefault();
                //取得超链接对象的href属性值赋给iframe的src属性
                $("#iframeMain").attr("src", $(this).attr("href"));
            })
            //点击logo到首页
            $("#logo").click(function (event) {
                //阻断超链接的跳转事件
                event.preventDefault();
                $("#iframeMain").attr("src", $(this).attr("href"));
            })
        })
    });
</script>
</body>
</html>