<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试人员信息管理</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
</head>

<!--修改信息表单-->
<div class="layui-row" id="editTester" style="display:none;">
    <div class="layui-col-md10">
        <form class="layui-form layui-from-pane" lay-filter="updatefilter" style="margin-top:20px">
            <!--id设置，隐藏起来，但不能去掉，后台根据这个修改当前问题-->
            <input type="hidden" name="id">

            <div class="layui-form-item">
                <label class="layui-form-label">测试人员姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="testerName" required lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">测试人员手机号</label>
                <div class="layui-input-block">
                    <input type="text" name="phonenum" required lay-verify="required" autocomplete="on"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item" style="margin-top:40px" id="check">
                <div class="layui-input-block">
                    <button class="layui-btn  layui-btn-submit " lay-submit="" lay-filter="updateTester">保存</button>
                    <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                </div>
            </div>
        </form>

    </div>
</div>

<!--模糊搜索-->
<form class="layui-form" action="" style="margin-top: 10px">
    <div class="layui-inline">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="testerName" placeholder="请输入姓名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-inline">
            <input type="text" name="phonenum" placeholder="请输入手机号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <div class="layui-input-inline">
            <button class="layui-btn" lay-submit lay-filter="selectFormfilter">查询</button>
            <button type="reset" class="layui-btn layui-btn-primary"  id="myButton" >重置</button>
        </div>
    </div>
</form>


<table id="demo" lay-filter="test"></table>

<script type="text/html" id="hangbarDemo">
<!--    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="update">修改</a>-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
</script>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <!--        <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon">&#xe608;</i>新增</button>-->
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="remove"><i class="layui-icon">&#xe640;</i>删除</button>
    </div>
</script>

</body>

<script>
    // 使用模块
    layui.use(['layer', 'table','form', 'jquery'], function () {
        var layer = layui.layer;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;

        //第一个实例
        var myTable = table.render({
            elem: '#demo'
            , height: 500
            , url: '/tester/selectAllColor' //数据接口
            , page: true //开启分页
            , limit: 10
            , limits: [5, 10, 15, 20, 30, 50, 100]
            , toolbar: '#toolbarDemo'  // 头部栏事件
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}  //复选框
                    , {field: 'testerId', title: 'ID', width: 80, sort: true, fixed: 'left'}  //表头
                    , {field: 'testerName', title: '测试人员姓名', width: 120}
                    , {field: 'phonenum', title: '测试人员电话', width: 120}
                    , {field: 'testTime', title: '测试日期', width: 160}
                    , {field: 'redCount', title: '红色性格', width: 100}
                    , {field: 'blueCount', title: '蓝色性格', width: 100}
                    , {field: 'yellowCount', title: '黄色性格', width: 100}
                    , {field: 'greenCount', title: '绿色性格', width: 100}
                    , {fixed: 'right', width: 100, align:'center', toolbar: '#hangbarDemo'}  //每行的操作按钮设置
                ]
            ]
        });

        //头部工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id)
                ,data = checkStatus.data; //获取选中的数据
            switch (obj.event) {
                // 新增
                case 'add':
                    break;
                // 删除
                case 'remove':
                    if(data.length === 0){
                        layer.msg('请选择一行');
                    } else {
                        // layer.msg('删除');
                        layer.confirm('真的要删除所选行嘛', function (index) {
                            console.log(data)
                            var idList=[];
                            //把当前行的id放到list列表中，传到后端
                            for (let i=0; i < data.length; i++) {
                                idList[i] = data[i].testerId;
                            }
                            idList.push(data.idList)
                            $.ajax({
                                url:"/tester/delete",
                                type:"post",
                                dataType: "JSON",
                                data:{idList:idList},
                                success:function (ret) {
                                    if (ret.code==0){
                                        // 刷新表格数据
                                        myTable.reload({
                                            page:{
                                                curr: 1 //重新从第1页开始
                                            }
                                        });
                                        layer.msg(ret.msg, {icon:6});
                                    } else {
                                        layer.msg(ret.msg, {icon:5});
                                    }
                                }
                            })
                            layer.close(index);
                            // 向服务器发送删除指令
                        });
                    }
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'update'){
                console.log(data)
                form.val('updatefilter', {
                    "testerId":data.testerId
                    ,"phonenum": data.phonenum
                    ,"testerName": data.testerName
                    ,"testTime": data.testTime
                });
                layer.open({
                    type: 1,
                    offset: '10px',
                    title: "修改测试人信息",
                    area: ['500px', '400px'],
                    content: $("#editTester")  //弹窗中的内容
                });
            } else if(layEvent === 'delete'){
                // layer.msg("删除操作")
                layer.confirm('真的要删除当前行嘛', function (index) {
                    // console.log(data)
                    var idList=[];
                    //把当前行的id放到list列表中，传到后端
                    idList.push(data.testerId);
                    $.ajax({
                        url:"/tester/delete",
                        type:"post",
                        dataType: "JSON",
                        data:{idList:idList},
                        success:function (ret) {
                            if (ret.code==0){
                                // 刷新表格数据
                                myTable.reload({
                                    page:{
                                        curr: 1 //重新从第1页开始
                                    }
                                });
                                layer.msg(ret.msg, {icon:6});
                            } else {
                                layer.msg(ret.msg, {icon:5});
                            }
                        }
                    })
                    layer.close(index);
                    // 向服务器发送删除指令
                });
            }
        });

        // 修改问题的操作
        /*form.on('submit(updateTester)', function (data) {
            console.log(data)
            //当前容器的全部表单字段，名值对形式：{name: value}
            // 提交表单数据
            $.ajax({
                url:"/tester/update",
                type: "POST",
                dataType:"JSON",
                // data:data.field,
                contentType:"application/json;charset=UTF-8",
                data:JSON.stringify(data.field),
                success:function (ret) {
                    if(ret.code==0){
                        //关闭对话框
                        layer.closeAll();
                        //刷新表格数据
                        myTable.reload({
                            page: {
                                curr: 1
                                //重新从第 1 页开始
                            }
                        });
                    }else {
                        layer.msg(ret.msg,{icon: 5});
                    }
                }
            })
            return false;//阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });*/


        // 模糊查询
        form.on('submit(selectFormfilter)', function (data) {
            console.log(data.field)
            //当前容器的全部表单字段，名值对形式：{name: value}
            // 提交表单数据
            $.ajax({
                url:"/tester/selectAll",
                type: "POST",
                dataType:"JSON",
                data:data.field,
                // contentType:"application/json;charset=UTF-8",
                // data:JSON.stringify(data.field),
                success:function (ret) {
                    if(ret.code==0){
                        //刷新表格数据
                        myTable.reload({
                            where: { //设定异步数据接口的额外参数，任意设
                                testerName: data.field.testerName
                                ,phonenum: data.field.phonenum
                            },
                            page: {
                                curr: 1
                                //重新从第 1 页开始
                            }
                        });
                    }else {
                        layer.msg(ret.msg,{icon: 5});
                    }
                }
            })
            return false;//阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        //重置条件查询表单，刷新table数据
        $("#myButton").click(function () {
            myTable.reload({
                where: { //设定异步数据接口的额外参数，任意设
                    question: ""
                    ,creator: ""
                    //…
                }
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });
    });
</script>

</html>
